.container-items {
    margin-top: 40px;
}

.terms {
    width: 100%;
    height: 450px;
    margin-top: 30px;
    overflow-y: scroll;
    box-sizing: border-box;
    border-bottom: 5px solid black;
    border-radius: 2px;
}

.terms::-webkit-scrollbar {
    width: 6px;
}

.terms::-webkit-scrollbar-track {
    background: #f1f1f100;
    border-radius: 10px;
}

.terms::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 10px;
    border: 2px solid #f1f1f100;
}

.terms::-webkit-scrollbar-thumb:hover {
    background: #333;
}


.terms p {
    font-size: 16px;
    padding: 20px 20px 0px;
    max-height: 500px;
    text-align: justify;
    font-family: "nave", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.terms h1 {
    font-size: 20px;
    padding: 0px 20px 0px;
    max-height: 500px;
    text-align: justify;
    font-family: "nave", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.button-accept {
    padding: 1rem;
    width: 200px;
    background-color: #1c1c1c;
    color: #e8d9b8;
    border: 2px solid black;
    font-family: "nave", sans-serif;
    font-weight: 700;
    font-style: normal;
}

button:disabled,
button[disabled]{
    background-color: #cccccc;
    color: #666666;
}

.button-deny {
    padding: 1rem;
    width: 200px;
    background-color: #e8d9b8;
    color: #1c1c1c;
    border: 2px solid black;
    font-family: "nave", sans-serif;
    font-weight: 700;
    font-style: normal;
}

strong {
    font-family: "nave", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    gap: 30px;
    box-sizing: border-box;
}

/* Remove o fundo padrão do checkbox */
.checkbox input[type="checkbox"] {
    -webkit-appearance: none; /* Remove o estilo padrão do checkbox */
    appearance: none; /* Para outros navegadores */
    width: 20px; /* Largura do checkbox */
    height: 20px; /* Altura do checkbox */
    border: 2px solid #000; /* Borda do checkbox */
    border-radius: 3px; /* Bordas arredondadas */
    background-color: transparent; /* Fundo transparente */
    position: relative; /* Para posicionar o pseudo-elemento */
    cursor: pointer; /* Muda o cursor ao passar sobre o checkbox */
}

.checkbox input[type="checkbox"]:disabled {
    border: 2px solid #000000; /* Cor da borda quando desabilitado */
    background-color: #cacaca; /* Cor de fundo opcional ao desabilitar */
    cursor: not-allowed; /* Muda o cursor para indicar que está desabilitado */
}

/* Estilo do checkbox quando está marcado */
.checkbox input[type="checkbox"]:checked {
    background-color: transparent; /* Fundo ainda transparente quando marcado */
    border: 2px solid #000000; /* Muda a cor da borda quando marcado */
}

/* Pseudo-elemento para exibir o SVG quando o checkbox está marcado */
.checkbox input[type="checkbox"]:checked::before {
    content: '';
    position: absolute; /* Posiciona o SVG em relação ao checkbox */
    top: 0; /* Alinha ao topo do checkbox */
    left: 0; /* Alinha à esquerda do checkbox */
    width: 20px; /* Largura do SVG */
    height: 20px; /* Altura do SVG */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="000"><path d="M9 19l-7-7 1.414-1.414L9 16.172l12.586-12.586L23 5l-14 14z"/></svg>');
    background-size: contain; /* Ajusta o SVG para caber no checkbox */
    background-repeat: no-repeat; /* Não repete o SVG */
}

/* Estilo do label */
.checkbox label {
    cursor: pointer; /* Muda o cursor ao passar sobre o label */
}

.checkbox {
    gap: 8px;
    display: flex;
    margin-top: 20px;
    align-items: flex-end;
}

.checkbox label {
    font-family: "nave", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.logo {
    width: 35%;
}

.toast {
    visibility: hidden; /* Oculto por padrão */
    color: #ff0000;
    text-align: center;
    border-radius: 4px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    top:  36%;
    bottom: 30px;
    font-size: 17px;
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s;
}

/* Quando o toast estiver visível */
.toast.show {
    visibility: visible;
    opacity: 1; /* Defina a opacidade para 1 */
}


