.container-items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.terms {
    width: 100%;
    height: 450px;
    margin-top: 30px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    box-sizing: border-box;
    border-bottom: 5px solid black;
    border-radius: 4px;
}

.terms p {
    font-size: 20px;
    padding: 30px 20px 20px;
    max-height: 500px;
    text-align: justify;
}

.terms h1 {
    font-size: 24px;
    padding: 0px 20px 0px;
    max-height: 500px;
    text-align: justify;
}

.button-accept {
    padding: 1rem;
    width: 200px;
    background-color: #008f28;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    border: none;
}

button:disabled,
button[disabled]{
  background-color: #cccccc;
  color: #666666;
}

.button-deny{
    padding: 1rem;
    width: 200px;
    background-color: #d20024;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    border: none;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    gap: 30px;
    box-sizing: border-box;
}

.checkbox {
    margin-top: 20px;
}

.checkbox label {
    font-weight: bold;
}



