<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Termos e Condições</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>
<body>
    <h1>Termos e Condições</h1>
    <p>Por favor, leia e aceite os termos para continuar.</p>

    <form action="/accept/{{ link_id }}" method="POST">
        <button type="submit">Aceitar</button>
    </form>

    <script>

        var socket = io();

        var link_id = "{{ link_id }}";

        socket.on('invalidate_link', function(data) {
            if (data.link_id === link_id) {
                alert("Este link não é mais válido.");
                window.location.href = "/link_invalid";
            }
        });
    </script>
</body>
</html>
